
@{
    ViewData["Title"] = "NewFolder";
}

<h1>New Folder</h1>

<script type="text/javascript">
     var specialKeys = new Array();
     specialKeys.push(8);  //Backspace
     specialKeys.push(9);  //Tab
     specialKeys.push(46); //Delete
     specialKeys.push(36); //Home
     specialKeys.push(35); //End
     specialKeys.push(37); //Left
     specialKeys.push(39); //Right
 
     function IsAlphaNumeric(e) {
         var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
         var ret = ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || keyCode == 32 || (keyCode >= 97 && keyCode <= 122) || (specialKeys.indexOf(e.keyCode) != -1 && e.charCode != e.keyCode));
         return ret;
     }
</script>

<form method="post" asp-action="NewFolder" asp-controller="Home">
    <input type="hidden" name="path" value="@Url.ActionContext.HttpContext.Request.Query["path"]" />
    <input type="text" name="foldername" onkeypress="return IsAlphaNumeric(event);" maxlength="60" />
    <button type="submit">Submit</button>
</form>

<br />
@Html.ActionLink("Return", "ViewOSS", new { id = Url.ActionContext.RouteData.Values["id"], path = Url.ActionContext.HttpContext.Request.Query["path"] })



