
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>


<form method="post" asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Submit</button>
</form>

<br />
@Html.ActionLink("Return", "ViewOSS" , new { id=Url.ActionContext.RouteData.Values["id"] })

